/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-toss-container {
  background-color: #ffffff;
  width: 500px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
  border-radius: 12px;
}

.title {
  font-family: 'Roboto';
  color: #a35200;
}

.heads-or-tails {
  font-family: 'Roboto';
  font-weight: 500;
}

.button {
  background-color: #f9d423;
  color: #a35200;
  font-family: 'Roboto';
  width: 90px;
  height: 25px;
  font-size: 13px;
  font-weight: 500;
  border-style: none;
  border-radius: 5px;
}

.result {
  font-family: 'Roboto';
  font-weight: 500;
  margin-right: 35px;
}

.result-container {
  display: flex;
  margin-top: 18px;
}

.img {
  width: 180px;
  margin-bottom: 30px;
}
